<h1>Editar Articulo</h1>

 <%= form_for :post, :url => { :action => :update, :id => @posts.id },
:method => :put, :class => "w-25" do %>

    <% if @posts.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@posts.errors.count, "error") %> prohibido que se guarde este articulo </h2>
            <ul>
                <% @posts.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= label_tag :titulo, nil, :class => "form-label" %><br>
        <%= text_field_tag :titulo, nil, :class => "form-control" %>
    </p>

    <p>
        <%= label_tag :texto, nil, :class => "form-label" %><br>
        <%= text_area_tag :texto, nil, :class => "form-control" %>
    </p>

    <p>
        <%= submit_tag :Enviar %>
    </p>
<% end %>

<%= link_to 'Atras', options = {:action => :index}, html_options = {:class => "btn btn-primary"} %>