<h1>Mostrar articulos</h1>
<%= link_to 'Nuevo', options = {:action => :new}, html_options = {:class => 'btn btn-success'} %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Texto</th>
      <th class="text-center">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.texto %></td>
        <td class="text-center">
          <%= link_to 'Mostrar', options = {:action => :show, :id => post.id}, html_options = {:class => 'btn btn-primary'} %>
          <%= link_to 'Editar', options = {:action => :edit, :id => post.id}, html_options = {:class => 'btn btn-primary'} %>
          <%= link_to 'Eliminar', options = { :action => :destroy, :id => post.id }, html_options = {:method => :delete, :data => { :confirm => '¿Estas seguro?' }, :class => 'btn btn-danger'}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>