<h1>Nuevo Articulo</h1>

 <%= form_for :post, :url => { :action => :create }, :class => "w-25" do %>
  <div class="mb-3">
    <%= label_tag :titulo, nil, :class => "form-label" %><br>
    <%= text_field_tag :titulo, nil, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= label_tag :texto, nil, :class => "form-label" %><br>
    <%= text_area_tag :texto, nil, :class => "form-control" %>
  </div>

  <p>
    <%= submit_tag :Enviar %>
  </p>
<% end %>

<%= link_to 'Atras', options = {:action => :index}, html_options = {:class => "btn btn-primary"} %>