<div class="card mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= @posts.titulo %>
    </h5>
    <p class="card-text">
      <%= @posts.texto %>
    </p>
    <%= link_to 'Atras', options = {:action => :index}, html_options = {:class => "btn btn-primary"} %>
    <%= link_to 'Editar', options = {:action => :edit, :id => @posts.id}, html_options = {:class => "btn btn-primary"} %>
  </div>
</div>